@model IEnumerable<WeatherAPI2.Models.WeatherForecast>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @*DateTime dd = new DateTime();
            dd = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
            dd = dd.AddSeconds(item.dt).ToLocalTime();*@
            
            <tr>
                <td>
                    <img src="http://openweathermap.org/img/wn/@Html.DisplayFor(modelItem => item.Icon)@@2x.png">

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    
                    @Html.DisplayFor(modelItem => item.Temperature)
                </td>
            </tr>
        }
    </tbody>
</table>
